.main-country .card{
    width: 26rem;
    border-radius: 10px;
    height: 6rem;
    text-align: center;
    background-color:#101920 ;
    color: #fff;
}
.main-country .card .h5{
    font-size: 2.25rem;
    font-family: emoji;
    font-weight: 600;
    padding-top: 20px;
}