.main{
  background-color: #FFF;
}
.main h1{
    color: #101920;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
   padding-top: 2rem;
    



}
.main .card{
    background-color: #F06D26;
    color: #fff;
    box-shadow: 2px 3px 4px 3px black;
}
.image-card {
    transition: transform 0.3s;
    border-bottom: 1px solid white;
}
.image-card :hover{
    transform: scale(1,1);
}
.main button{
    background-color:#101920;
    color: #fff;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    margin-inline-start: 46%;
    border-radius: 10px;
}
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  .error-fav{
    font-family: "Protest Riot", sans-serif;
    font-size: 3rem;
    margin-top: 5rem;
  }
  
