@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Riot&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Honk&family=Nunito+Sans:opsz,wght@6..12,200&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Riot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:opsz,wght@6..12,200&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Riot&display=swap');

.main-card1{
    width: 50rem;
    
}
.main-single .image-single img{
    margin: 15%;
    border-radius: 30px;
    
}
.main-single .card{
    background-color:  #fff !important; ;
    border: none;
}
.detail-single h2{
    text-align: center;
    text-decoration: underline;
    color: #101920;
    font-family:  "Noto Serif", serif;
    font-weight: 800;
}
.detail-single h3{
    font-family: emoji;
    font-weight: 600;
    font-size: 30px;
    padding-inline-start: 10px;
}
.detail-single h3 span{
    font-weight: 400;
    font-family: "Noto Serif", serif;
    font-size: 20px;

}
.detail-single h3 a{
    font-size: 20px;
}
.detail-single{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.detail-single .ing {
    background-color:#F06D26;
    color: #fff;
    list-style-type: square;
    border-radius: 14px;
    box-shadow: 2px 2px 7px 4px black;
}
.detail-single .ing h2{
    color: #fff;
}
.detail-single button{
    border: none;
    background-color: transparent;
}


.instruction h2{
    text-align: center;
    font-family: noto;
    font-weight: 600;
    text-decoration: underline;
}
.instruction{
    background-color:#F06D26;
    color: #fff;
    border-radius: 20px          
}
.instruction p{
    padding: 20px;
}
@media screen and (max-width:600px) {
    .main-single{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}